.person {
    display: block;
    height: 200x;
    background: lightblue;
    border: solid 1px darkblue;
    box-shadow: 0 10px 40px black;
    margin: 20px auto;
    padding: 10px;
    width: 50vw;
}

@media (min-width: 600px) {
    .person {
        width: 500px;
    }
}